@model ItAcademyWebShop.Views.Shared.ItemModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Menu
{}
<div>
    <form action="/Home/SetUserNameViaCookie" method="post" class="user-name-input">
        <label>Set User Name: </label>
        <input type="text" name="userName" />
        <input type="submit" value="Set" />
    </form>
</div>
@foreach (var item in Model.GetCategoryItems())
{
    <div>
        <div class="item-description">
            <h3>@item.ItemName</h3>
            <p>@item.Description</p>
            <p>@item.Price денег</p>
        </div>
    </div>
}